.checkout-card {
    background-color: #2B2F55 !important;
    flex-direction: row !important;
    align-items: center;
    padding: 24px;
    max-height: 117px;
    border-radius: 8px !important;
}

.checkout-card .card-title {
    font-size: 14px;
}

.checkout-card .card-body {
    font-size: 14px;
}

.checkout-card .card-body span {
    font-size: 28px;
    color: #63F4F7;
    font-weight: bold;
}